/* === IMPORTAÇÃO DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*
Fontes Disponíveis:
// Sugiro usar esta 
font-family: "Urbanist", sans-serif; 
font-family: "Fredoka", sans-serif;
font-family: "Epilogue", sans-serif;
font-family: "Nunito", sans-serif;
font-family: "Oswald", sans-serif;
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html {
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
}

html {
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);


}


body {
    background-color: #e6e5e5;
}

/* ===== cores base ===== */
:root {
    --azul: #4a90d9;
    --azul-escuro: #17436f;
    --azul-claro: #eaf3fb;
    --azul-footer: #5b93c5;
    --verde-claro: #d9f0e6;
    --cinza-texto: #6b7280;
    --texto-principal: #252b42;
}



/* ================================= */
/*        HEADER DO CELULAR         */
/* ================================= */


body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

.container {
    background: url(../img_login_conta/ChatGPT\ Image\ 10\ de\ set.\ de\ 2026\,\ 10_37_41.png)no-repeat center bottom;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

.login {
    width: 350px;
    background-color: rgba(225, 225, 225, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 6px #fff;
    padding: 20px;
    border: solid 1.5px #ffd;
}

.login img {
    height: 90px;
    display: block;
    margin: 0 auto;
}

.login h2 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 0;
    font-size: 35px;
}

.login p {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-top: 0;
    font-size: 20px;
}

.login input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #333;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px #333;
    font-size: 20px;
    border: none;
    font-size: 16px;
}

.login button {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.login a {
    text-align: center;
    color: #555;
    font-size: 20px;
    display: block;
    margin: 15px auto 5px auto;
}

/* ================================= */
/*        FOODER DO CELULAR         */
/* ================================= */

@media screen and (max-width: 599px) {

    htm {
        margin: 0;
        font-family: "roboto", sans-serif;
    }

    .container {
        background: url(../img_login_conta/ChatGPT\ Image\ 10\ de\ set.\ de\ 2026\,\ 10_37_41.png)no-repeat center bottom;
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login {
        width: 350px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 6px #fff;

    }
    /* ================================= */
/*        HEADER DO CELULAR         */
/* ================================= */


body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

.container {
    background: url(../img_login_conta/ChatGPT\ Image\ 10\ de\ set.\ de\ 2026\,\ 10_37_41.png)no-repeat center bottom;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

.login {
    width: 350px;
    background-color: rgba(225, 225, 225, 0.85);
    border-radius: 20px;
    box-shadow: 0 0 6px #fff;
    padding: 10px 30px 10px 30px;
    border: solid 1.5px #ffd;
}

.login img {
    height: 90px;
    display: block;
    margin: 0 auto;
}

.login h2 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 0;
    font-size: 35px;
}

.login p {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-top: 0;
    font-size: 20px;
}

.login input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #333;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px #333;
    font-size: 20px;
    border: none;
    font-size: 16px;
}

.login button {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.login a {
    text-align: center;
    color: #555;
    font-size: 20px;
    display: block;
    margin: 15px auto 5px auto;
}
}