/* ==== FORMATAÇÃO GERAL === */

html {
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
    font-family:
        "Mulish",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        sans-serif;
    color: #252b42;
    text-align: center;
}

h1 {
    font-family: "Nunito", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;

}

body {
    background-color: #e6e5e5;
}

/* ===== cores base ===== */
:root {
    --azul: #4a90d9;
    --azul-escuro: #17436f;
    --azul-claro: #eaf3fb;
    --azul-footer: #5b93c5;
    --verde-claro: #d9f0e6;
    --cinza-texto: #6b7280;
    --texto-principal: #252b42;
}



/* ================================= */
/*        HEADER DO CELULAR         */
/* ================================= */



header img {
    width: 25%;
}

header nav ul {
    font-size: 1rem;
    padding: 5px 0 5px 0;
}

header nav ul li a {
    color: var(--texto-principal);
    font-weight: 600;
}

header nav ul li a.ativo {
    color: #4988C4;
    font-weight: 800;

}

header {
    padding: 3vw 5vw;
    border-bottom: 1px solid #cccccc;
}

.sino img {
    width: 10%;
}

.avatar img {
    width: 10%;
}
div.frasedaimagem img{
   display: none;
}
div.frese{
    padding: 10px;
    font-size: 30px;
    font-weight: 800;
}
section.missao h2{
     padding: 10px;
    font-size: 25px;
    font-weight: 700;
}
div.nossamissao{
    padding: 10px 17px;
    font-size: 20px;
    font-weight: 600;
}
div.tres{
    width: 30%;
    display: flex;
    gap: 10px;
    margin:10px;
}
div.mais{
    width: 30%;
    display: flex;
    gap: 10px;
    margin:10px;
}
div.dividir h2{
    padding: 10px;
    font-size: 50px;
    font-weight: 800;
}
div.dividir p.Acreditamos{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* MEDIA QUERY - DESKTOP */
@media screen and (min-width: 600px) {

    /*===GERAL TODOS VÃO TER O MESMO TIPO ===*/
    html {
        text-align: left;
        font-size: clamp(0.9rem, calc(0.5rem + 0.6vw), 1.2rem);
        font-family:
            "Mulish",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            sans-serif;
        color: #252b42;}
    
    .sino img {
        width: 1.8rem;
        height: auto;
    }
}