/*===GERAL TODOS VÃO TER O MESMO TIPO ===*/
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin: 2vw 2vw 2vw 2vw;
    background-color: rgba(230, 229, 229, 1);
}
/*===OS H2 TODOS VÃO TER O MOSMO TIPO DE MODELO OS QUE NAO TIVEREM VAI SER COLOCADO UMA CLASSE NELES === */
/*===NO SOBRE-NOS TEM 3===*/
h2 {
    font-size: 5vw;
    padding: 5vw;
}

/*===HEADER===*/
header {
    display: flex;
    align-items: center;
    gap: 20px;
    /* espaço entre a logo e o menu */
    margin-bottom: 50px;
}

/* Logo */
header img {
    width: 70px;
    background-color: rgb(73, 136, 196);
    border-radius: 50%;
    padding: 1vw 1vw 1vw 1vw;

}

/* Menu */
.comandos {
    display: flex;
    align-items: center;
    gap: 90px;
}


.comandos .inicial a {
    color: rgb(73, 136, 196);
    font-weight: bold;
}

/*===BODY===*/
.frasedaimagem img {
    padding: 1vw 15vw 5vw 5vw;
}

.frasedaimagem {
    position: relative;
    /* Isso cria o "limite" para o texto não sair da imagem */
    display: inline-block;
    width: 100%;/
}


.frese {
    position: absolute;
    top: 32%;
    left: 13%;
    color: white;
    font-size: 59px;
    padding: 1vw 30vw 1vw 1vw;
}

div.nossamissao {
    display: flex;
}

div.nossamissao img {
    width: 40%;
    padding: 1vw 2vw 5vw 1vw;
}

div.nossamissao p {
    font-size: 35px;
    padding: 1vw 2vw 5vw 1vw;
}


/*===FOTO NOSSA===*/
section.nos {
    display: flex;
    gap: 2px;
}

section.nos div img {
    width: 30%;
    padding: 1vw;

}

section.nos div.cuidar {
    display: flex;
    padding: 10px 0 10px 0;
}

section.nos div.cuidar p {
    font-size: 35px;
    padding: 10px 10px 10px 10px;
}

div.formação {
    padding: 1vw 10vw 1vw 1vw;
}

section.etapa span {
    font-weight: 200;

}

section.etapa h2 {
    font-size: 40px;
}

/*===borda e sua ligaduras===*/


div.liga {
    display: flex;
    padding: 1vw 1vw 1vw 2vw;
    gap: 40vw;
    font-size: 15px;
}

div.liga p.escolhemos {
    background-color: bisque;
    border-radius: 20px;
    font-size: 15px;
    padding: 1vw 10vw 2vw 4vw;
}

div.liga p.proposta {
    background-color: bisque;
    border-radius: 20px;
    font-size: 15px;
    padding: 1vw 10vw 2vw 4vw;
}
sec

section.etapa div.imagem {
    display: flex;
    padding: 1vw 1vw 1vw 2vw;
    gap: 40vw;
    font-size: 15px;
}

img.aprendiz {
    width: 30%;
    justify-content: space-between;
    display: flex;
}

img.estudo {
    width: 30%;

}

/*===Cadastro===*/
.entrar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entrar {
    font-family:"Montserrat", sans-serif;
    background-color: black;
}



/*===FOOTER===*/
footer {
    background-color: rgba(28, 77, 141, 1);
}



/*===SEGUNDA PAGINA INICIO ===*/

li.segunda{

    background-color: rgba(73, 136, 196, 0.73);
    border-radius: 20px;
    font-size: 15px;



}