/*===GERAL TODOS VÃO TER O MESMO TIPO ===*/
html {
    font-family: Inter, sans-serif;
    ;
    margin: 2vw 2vw 2vw 2vw;
    background-color: rgba(230, 229, 229, 1);
}

html {
    font-size: clamp(0.9rem, calc(0.5rem + 0.6vw), 1.2rem);
    font-family: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: #252b42;
}


/*===OS H2 TODOS VÃO TER O MOSMO TIPO DE MODELO OS QUE NAO TIVEREM VAI SER COLOCADO UMA CLASSE NELES === */
/*===NO SOBRE-NOS TEM 3===*/
h2 {
    font-size: 5vw;
    padding: 5vw;
}

/*===HEADER===*/
header {
    display: flex;
    align-items: center;
    gap: 150px;
    /* espaço entre a logo e o menu */
    margin-bottom: 50px;
}

/* Logo */
header img {
    width: 90px;
    background-color: rgb(73, 136, 196);
    border-radius: 50%;
    padding: 1vw 1vw 1vw 1vw;

}

/* Menu */
.comandos {
    display: flex;
    align-items: center;
    gap: 110px;
}


.comandos .inicial a {
    color: rgb(73, 136, 196);
    font-weight: bold;
}

/*===BODY===*/
.frasedaimagem img {
    padding: 1vw 15vw 5vw 5vw;
}

.frasedaimagem {
    position: relative;
    /* Isso cria o "limite" para o texto não sair da imagem */
    display: inline-block;
    width: 100%;/
}


.frese {
    position: absolute;
    top: 32%;
    left: 13%;
    color: white;
    font-size: 59px;
    padding: 1vw 30vw 1vw 1vw;
}

div.nossamissao {
    display: flex;
}

div.nossamissao img {
    width: 85%;
    padding: 1vw 2vw 5vw 1vw;
}

div.nossamissao p {
    font-size: 35px;
    padding: 1vw 2vw 5vw 1vw;
}


/*===FOTO NOSSA MAIS TEXTO SOBRE NÓS===*/



section.nos div.tres div.mais {
    display: flex;
    gap: 60px;
    display: inline-block;
}

section.nos div.tres {
    display: flex;
    gap: 20px;
    width: 60%;
    padding: 1vw 1vw 1vw 1vw;

}

section.nos div.mais {
    display: flex;
    gap: 20px;
    width: 60%;
    padding: 1vw 1vw 1vw 1vw;
}

.nos{
    display: flex;
}
section.nos h2{
    padding:2vw 1vw 2vw 25vw ;
}
section.nos p{
    padding:2vw 1vw 2vw 25vw ;
    font-size: 25px;
}


/*===Etapas do desenvolvimento===*/

div.formação {
    padding: 1vw 10vw 1vw 1vw;
}

section.etapa span {
    font-weight: 200;

}

section.etapa h2 {
    font-size: 40px;
}

/*===borda e sua ligaduras===*/


div.liga {
    display: flex;
    padding: 1vw 1vw 1vw 2vw;
    gap: 40vw;
    font-size: 15px;
}

div.liga p.escolhemos {
    background-color: bisque;
    border-radius: 20px;
    font-size: 15px;
    padding: 1vw 10vw 2vw 4vw;
}

div.liga p.proposta {
    background-color: bisque;
    border-radius: 20px;
    font-size: 15px;
    padding: 1vw 10vw 2vw 4vw;
}

sec section.etapa div.imagem {
    display: flex;
    padding: 1vw 1vw 1vw 2vw;
    gap: 40vw;
    font-size: 15px;
}

img.aprendiz {
    width: 30%;
    justify-content: space-between;
    display: flex;
}

img.estudo {
    width: 30%;

}

/*===Cadastro===*/
.entrar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.entrar {
    font-family: "Montserrat", sans-serif;
    background-color: black;
}



/*===FOOTER===*/
footer {
    background-color: rgba(28, 77, 141, 1);
}



























/*===SEGUNDA PAGINA INICIO ===*/
body {
    background-color: #E6E5E5;
}

/* ===== cores base ===== */
:root {
    --azul: #4a90d9;
    --azul-escuro: #2f6fb0;
    --azul-claro: #eaf3fb;
    --azul-footer: #5b93c5;
    --verde-claro: #d9f0e6;
    --cinza-texto: #6b7280;
    --texto-principal: #252b42;
}



li.segunda {

    background-color: rgba(73, 136, 196, 0.73);
    border-radius: 20px;
    font-size: 15px;



}


main section.comeco {
    display: flex;
    background-color: #E6E5E5;
}

section.comeco img {
    max-width: 80%;
}

section.comeco h2 {
    font-size: 3rem;
    padding: 5vw 0 0 5vw;
}

section.comeco h2 span {
    font-weight: 800;
}

section.comeco p {
    padding: 5vw 0vw 0vw 10vw;
    width: 300px;
    font-size: 1.5rem;
}

section.diferenciais h3 {
    text-align: center;
    font-size: 1.8rem;
    padding: 8vw;
}

section.diferenciais h3 span {
    font-weight: 600;
}

section.diferenciais div.peso img {
    max-width: 10%;
    padding: 0vw 0vw 0vw 10vw;
}

section.diferenciais div.peso h4 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0vw 0vw 0vw 8vw;
}

section.diferenciais div.peso p {
    max-width: 200px;
    padding: 1vw 0vw 0vw 10vw;
}

section.diferenciais div.relogio img {
    max-width: 10%;
    padding: 0vw 0vw 0vw 10vw;
}

section.diferenciais div.relogio h4 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0vw 0vw 0vw 8vw;
}

section.diferenciais div.relogio p {
    max-width: 200px;
    padding: 1vw 0vw 0vw 10vw;
}

section.diferenciais div.andar img {
    max-width: 10%;
    padding: 0vw 0vw 0vw 10vw;
}

section.diferenciais div.andar h4 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0vw 0vw 0vw 8vw;
}

section.diferenciais div.andar p {
    max-width: 200px;
    padding: 1vw 0vw 0vw 10vw;
}

section.diferenciais div.mente img {
    max-width: 10%;
    padding: 0vw 0vw 0vw 10vw;
}

section.diferenciais div.mente h4 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0vw 0vw 0vw 8vw;
}

section.diferenciais div.mente p {
    max-width: 200px;
    padding: 1vw 0vw 0vw 10vw;
}